.bash{
background-image:url(../images/bash.png);
width:845px;
height:424px;
    max-width: 845px;
position:relative;
margin:9%;
margin-left:20%;
}
#loader{
color:#0f0;
position:relative;
z-index:325;
top:18%;
left:7%;
font-family: 'Ubuntu', sans-serif;
}
.typed-cursor{
font-family: 'Ubuntu', sans-serif;
color:#ffffff;
z-index:325;
top:18%;
left:7%;
position:relative;
}


.join{
animation: joins 2s infinite;
cursor:pointer;
}
@keyframe joins{
0%{color:#0f0;}
50%{color:#9b9b9b;}
100%{color:#0f0;}
}
.content{
width:100%;
height:100%;
background:#000;
}
body {
  perspective: 600px;
  background: #111;
  overflow: hidden;
}

@media screen and (max-width: 768px) {

body { perspective: 300px; }

}

.full {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 102%;
  height: 103%;
  transition: all 0.6s linear;
  background: white;
}

.menu-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.menu-icon:active { background: #eee; }
.menu-r{

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	}

.menu-icon.crossed::before { transform: rotate(45deg); }

.menu-icon.crossed::after { transform: rotate(135deg); }

.page {
  transform-origin: right center;
  transform: translateX(0) rotateY(0);
  z-index: 1;
  opacity: 1;
}

.page.swipe-lft {
  opacity: 0.5;
  z-index: 0;
  transform: translateX(-100%) rotateY(-35deg);
}

.nav {
  transform-origin: left center;
  transform: translateX(100%) rotateY(35deg);
  z-index: 0;
  opacity: 0.5;
  background:#B41F3C;
}

.nav.open {
  opacity: 1;
  z-index: 1;
  transform: translateX(0) rotateY(0deg);
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 600;
  color: #C8CCD4;
  pointer-events: none;
}

@media screen and (max-width: 768px) {

.cube {
  font-size: 24px;
  white-space: nowrap;
}

}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
position:relative;
top:40%;
left:40%;
  }

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?23523759');
      src: url('../fonts/fontello.eot?23523759#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?23523759') format('woff'),
           url('../fonts/fontello.ttf?23523759') format('truetype'),
           url('../fonts/fontello.svg?23523759#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     




.bt-menu {
	position: fixed;
	top: 60;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	font-family:'roboto', sans-serif;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 170px;
	background-color: rgba(0,0,0,0);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
	top:-2;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #000;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #000;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #1abc9c;
}
    .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
     
      font-variant: normal;
      text-transform: none;
     
      line-height: 1em;
     
      margin-left: .2em;
     

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }

	#fullpage{
	width:102%;
	height:102%;
	z-index:-2;
	}
	img{
	    -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}




	#section0{
		padding: 60px 0;
	}
	#section0 img{
		height: 100%;
		margin: 40px 0 0 0;
	}




	#section1 img{
		position:absolute;
		left: 40px;
		top: 100px;
	}

	#section1 .box{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -192px;
		margin-left: 89px;
		width: 395px;
		z-index: 1;
	}
	#section1 .imgsContainer{
		display: block;
		position: absolute;
		z-index: 1;
		top: 42%;
		left: 58%;
		margin-top: -325px;
		margin-left: -747px;
		width: 800px;
		height: 696px;
	}
	#section1 img{
		height: 30%;
	}
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}






	#section2 img{
		position:absolute;
	}
	#section2 .imgsContainer,
	#staticImg .imgsContainer,
	#section3 .imgsContainer{
		position: absolute;
		z-index: 1;
		left: 50%;
		display: block;
		margin-top: -288px;
		margin-left: -636px;
		width: 0;
		height: 0;

		-webkit-transition: all 1.2s ease-in-out;
		-moz-transition: all 1.2s ease-in-out;
		-o-transition: all 1.2s ease-in-out;
		transition: all 1.2s ease-in-out;
	}

	#section2.moveUp .imgsContainer{
		top: 50%;
	}

	#section2.moveDown .imgsContainer,
	#staticImg .imgsContainer{
		top: 90%;
	}

	#section2.active .imgsContainer{
		top: 50%;
	}

	#section2 .box{
		top: 22%;
		left: 42%;
		position: absolute;
		width: 582px;
	}

	#logo{
		top:-20px;
		left: 40px;
		position:absolute;
	}

	#staticImg{
		display: block;
		position: absolute;
		z-index: 1;
		top: 200%;
		left: 0;
		width: 100%;
		min-width: 980px;
		height: 100%;

		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;

		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	}
	#staticImg.moveDown{
	-webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
	}
	#staticImg.moveUp{

	-webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
	}
	#staticImg.moveDown .imgsContainer{
			top: 50%;
	}
	#staticImg.moveDown img{
		top: 114px;
	}

	#staticImg.active .imgsContainer{
		top: 50%;
	}


	#staticImg.active img{
		top: 487px;
	}






	#section3 .imgsContainer{
		top: 50%;
	}

	#section3 img{
		top: 155px;
		left: 455px;
		position: absolute;
	}
	#section3 .box{
		text-align: center;
		margin: 10% 0 0 0;
	}

#section3{
background-image:url(../images/pitw.png);
width:100%;
height:100%;
}

	.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background: #AAA;
	}

.fl{
z-index:2;
}
